<h1>New game</h1>
<div>
  <ul class = "letters"> <% @letters.each do |letter| %>
    <li> <%= letter %>
    </li>
    <% end %>
  </ul>
</div>

<p>Enter the longest word you can find: </p>
<form action="/score" method="post">
  <input type="text" name="word">
  <input type="submit" value="Submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>

</form>
